# shellcheck disable=SC2148
# shellcheck disable=SC2034

# This file contains defaults that are useful for development.
# It's not recommended to use this configuration for a production deployment.

# === Runtime Server Configuration ===

# Run the server with the `--help` flag to learn more about the individual settings.

# This default is designed to filter out a lot of noise, if you're
# debugging anything you'd usually want to change these settings
RUST_LOG=debug,sqlx=info,hyper_util::client=info

# Interface to listen on
# INTERFACE=0.0.0.0

# Port to listen on
PORT=8080

# URL the backend server is reachable at
# For development, we use the `.localhost` TLD as it should redirect to loopback:
# https://datatracker.ietf.org/doc/html/rfc6761#section-6.3
BASE_URL=http://buildbtw.localhost:8080

# Path to the SQLite database file
DATABASE_FILE="buildbtw_backend.sqlite"

# Collect tokio console telemetry
# When enabling this, make sure to also enable the `tokio_unstable` cfg below
TOKIO_CONSOLE_TELEMETRY=false

# Do not use this value for production.
COOKIE_ENCRYPTION_KEY=PhoaTaiZie7zug5oojai3BaesieTahloghienavaitee4eeJuas9xohwei3Zai0k

# If true, run a podman container with authelia as an OIDC provider
# alongside the buildbtw server for local development.
RUN_AUTHELIA_CONTAINER=false
# This value is used below in `OIDC_ISSUER_URL` as well
AUTHELIA_CONTAINER_PORT=9091

# Configuration for logging in using an OIDC provider
# For local development, it's recommended to uses `RUN_AUTHELIA_CONTAINER=true` for a local OIDC provider.

# Credentials
OIDC_CLIENT_ID=buildbtw-test
OIDC_CLIENT_SECRET=insecure_secret

# URL we can reach the provider at
OIDC_ISSUER_URL=https://authelia.buildbtw.localhost:9091

# User-visible descriptor of the OIDC provider
OIDC_ISSUER_NAME=Authelia

# === Compile-time Server Configuration ===

# For tokio-console
# TODO does this result in a lot of recompilation of dependencies?
# probably because rust-analyzer doesn't have this set?
# RUSTFLAGS="--cfg tokio_unstable"
