# shellcheck disable=SC2148
# shellcheck disable=SC2034

# This file contains defaults that are useful for development.
# It's not recommended to use this configuration for a production deployment.

# === Runtime Server Configuration ===

# Run the server with the `--help` flag to learn more about the individual settings.

# This default is designed to filter out a lot of noise, if you're
# debugging anything you'd usually want to change these settings
RUST_LOG=debug,sqlx::query=warn,hyper_util::client=info,sea_orm_migration=warn,sea_orm=info,h2=info,rustls=info,gitlab=warn

# Socket to listen on
BUILDBTW_LISTEN=0.0.0.0:8080

# TLS certificate and key for the server
# When both are set, the server will use TLS.
# For development, use the local certificates in cert/ after running `just gen-dev-cert`.
# In production, TLS is typically handled by a reverse proxy, so these should be left unset.
BUILDBTW_TLS_CERT=cert/buildbtw.cert
BUILDBTW_TLS_KEY=cert/buildbtw.key

# URL the backend server is reachable at
# For development, we use the `.localhost` TLD as it should redirect to loopback:
# https://datatracker.ietf.org/doc/html/rfc6761#section-6.3
BUILDBTW_SERVER_URL=https://buildbtw.localhost:8080

# Path to the SQLite database file
BUILDBTW_DATABASE_FILE="buildbtw_backend.sqlite"

# A location for storing data such as cloned package source repositories, staging repos,
# or built packages. At the time of writing, cloning all package source repositories
# (which is the default for normal operation) will require about 5GB, and
# depending on your number of builds, this can grow a lot larger.
# For development, the recommended default is to store this outside of the code repository.
# When omitted, uses the project XDG_DATA_HOME directory by default.
BUILDBTW_DATA_DIR="../buildbtw-data"

# Collect tokio console telemetry
# When enabling this, make sure to also enable the `tokio_unstable` cfg below
BUILDBTW_TOKIO_CONSOLE_TELEMETRY=false

# Do not use this value for production.
BUILDBTW_COOKIE_ENCRYPTION_KEY=PhoaTaiZie7zug5oojai3BaesieTahloghienavaitee4eeJuas9xohwei3Zai0k

# If true, run a podman container with authelia as an OIDC provider
# alongside the buildbtw server for local development.
# This container assumes a `BASE_URL` of "http://buildbtw.localhost:8080". If you change the
# base URL, you'll need to change the authelia config at `authelia/configuration.yml` as well.
BUILDBTW_RUN_AUTHELIA_CONTAINER=true
# This value is used below in `BUILDBTW_OIDC_ISSUER_URL` as well
BUILDBTW_AUTHELIA_CONTAINER_PORT=9091

# Configuration for logging in using an OIDC provider
# For local development, it's recommended to uses `BUILDBTW_RUN_AUTHELIA_CONTAINER=true` for a local OIDC provider.

# Credentials
BUILDBTW_OIDC_CLIENT_ID=buildbtw-test
# Takes precedence over `BUILDBTW_OIDC_CLIENT_SECRET_PATH`.
BUILDBTW_OIDC_CLIENT_SECRET=insecure_secret
# Path to a file containing the OIDC client secret.
# Default: $XDG_CONFIG_HOME/buildbtw/BUILDBTW_OIDC_CLIENT_SECRET
# BUILDBTW_OIDC_CLIENT_SECRET_PATH=

# URL we can reach the provider at
BUILDBTW_OIDC_ISSUER_URL=https://authelia.buildbtw.localhost:9091

# User-visible descriptor of the OIDC provider
BUILDBTW_OIDC_ISSUER_NAME=Authelia

BUILDBTW_OIDC_ADMIN_GROUPS="Admin Group"
BUILDBTW_OIDC_PACKAGE_MAINTAINER_GROUPS="Package Maintainer Group"

# Used for:
# - Downloading the GraphQL API schema
# - Querying for changes to package source repos
# - Fetching package source repos
#
# This needs the `read_api` scope.
# Takes precedence over `BUILDBTW_GITLAB_TOKEN_PATH`.
BUILDBTW_GITLAB_TOKEN=
# Path to a file containing the gitlab token.
# Default: $XDG_CONFIG_HOME/buildbtw/BUILDBTW_GITLAB_TOKEN
# BUILDBTW_GITLAB_TOKEN_PATH=
# This needs to be a valid URL, including the protocol.
BUILDBTW_GITLAB_DOMAIN=https://gitlab.archlinux.org
BUILDBTW_GITLAB_SSH_HOST_KEY="gitlab.archlinux.org ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICjT2SuA0k/xc5Cbyp+eBY5uN3bRL2K7GdpNtltOK6vy"
BUILDBTW_GITLAB_PACKAGES_GROUP=packaging-buildbtw-dev/packages

# Update package source repositories in the background.
BUILDBTW_UPDATE_SOURCE_REPOS=true
# Automatically create new iterations for buildspaces when new commits cause their build graph to change.
BUILDBTW_AUTO_CREATE_ITERATIONS=true

# Token for uploading build artifacts to the server.
# If left out, builds will not be uploaded.
# Takes precedence over `BUILDBTW_EXECUTOR_TOKEN`.
# BUILDBTW_EXECUTOR_TOKEN=
# Path to a file containing the gitlab token.
# Default: $XDG_CONFIG_HOME/buildbtw/BUILDBTW_EXECUTOR_TOKEN
# BUILDBTW_EXECUTOR_TOKEN_PATH=

# Configuration for scheduling and running builds.

# Where to dispatch builds. `local-vmexec` or `gitlab-pipelines`
BUILDBTW_DISPATCH_BUILDS_TO=local-vmexec
# BUILDBTW_LOCAL_BUILDS_MAX_CONCURRENT=1
# BUILDBTW_VMEXEC_SSH_TIMEOUT=

# === Compile-time Server Configuration ===

# For tokio-console
# TODO does this result in a lot of recompilation of dependencies?
# probably because rust-analyzer doesn't have this set?
# RUSTFLAGS="--cfg tokio_unstable"
