workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

image: "archlinux:latest"

before_script:
  - pacman -Syu --needed --noconfirm reuse just

buildbtw-poc:
  stage: check
  trigger:
    include:
      - local: buildbtw-poc/.gitlab-ci.yml
    strategy: depend

stages:
  - check

reuse:
  stage: check
  script:
    - just licenses

format:
  stage: check
  script:
    - just lint
