[package]
name = "buildbtw"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = { version = "1.0.86", features = ["backtrace"] }
axum = { version = "0.7.5", features = ["http2", "macros"] }
axum-server = "0.7.1"
camino = { version = "1.1.9", features = ["serde", "serde1"] }
clap = { version = "4.5.16", features = [
    "cargo",
    "derive",
    "env",
    "wrap_help",
] }
git2 = "0.19.0"
layout-rs = { version = "0.1.2", features = ["log"] }
listenfd = "1.0.1"
minijinja = "2.2.0"
petgraph = { version = "0.6.5", features = [
    "serde",
    "serde-1",
    "serde_derive",
] }
regex = "1.10.6"
reqwest = { version = "0.12.7", features = ["json"] }
serde = { version = "1.0.209", features = ["serde_derive"] }
serde_json = "1.0.127"
srcinfo = { version = "1.1.0", features = ["serde1"] }
tokio = { version = "1.39.3", features = ["fs", "rt-multi-thread", "process"] }
uuid = { version = "1.10.0", features = ["serde", "v4"] }

[patch.crates-io]

srcinfo = { path = "../srcinfo.rs" }
