html {
    color-scheme: light dark;
}

body {
    font-family: sans-serif;
    max-width: 40rem;
    padding: 0 1rem;
    margin: 1rem auto;
}

h1 {
    font-size: 1rem;
}

table {
    border-spacing: .5rem 0;
}