{% extends "layout" %}
{% block title %}{{ super() }} - build_namespace {% endblock %}
{% block body %}
    <h1><a href="/namespace/{{namespace.id}}/graph">{{ namespace.name }}</a></h2>
    <h2>Current iteration</h2>
    {{ svg }}
    <h2>All iterations</h2>
    <ul>
        {% for iteration in iterations %}
            <li>
                {{ iteration.id }} ({{ iteration.create_reason }})
            </li>
        {% endfor %}
    </ul>
{% endblock %}
