{% extends "layout" %}
{% block title %}{{ super() }} - build_namespace graph {% endblock %}
{% block body %}
    {{svg}}

    <script>
        window.setInterval(function() {
            window.location.reload();
        }, 5000);
    </script>
{% endblock %}
