{% extends "layout" %}
{% block title %}build namespace <a href="/namespace/{{namespace.name}}">{{namespace.name}}</a>{% endblock %}
{% block body %}
    <p>Status: {{namespace.status}}</p>

    {% set last_iteration = iterations|last %}
    {% if last_iteration %}
        <h2>Current iteration</h2>
        {% for architecture, _ in last_iteration.packages_to_be_built|items %}
            <p>{{architecture}}</p>
            <iframe id="graph-iframe" src="/namespace/{{namespace.name}}/{{architecture}}/graph" style="width: 100%; height: 30rem;">
            </iframe>
        {% endfor %}
    {% endif %}

    <h2>All iterations</h2>
    {% if iterations|length == 0 %}
        <p>Calculating packages for first iteration...</p>
    {% else %}
        <ul>
            {% for iteration in iterations %}
                <li>
                    {{ iteration.id }} ({{ iteration.create_reason }})
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
