{% extends "layout" %}
{% block title %}home{% endblock %}
{% block content %}
    <h2>Currently running builds</h2>
    <table><tbody>
        <thead>
            <tr>
                <th>pkgbase</th>
                <th>namespace</th>
            </tr>
        </thead>
        {% for entry in running_builds_table %}
        <tr>
            <td><a href="{{entry.gitlab_pipeline_url}}">{{entry.pkgbase}}</a></td>
            <td><a href="/namespace/{{entry.namespace_name}}">{{entry.namespace_name}}</a></td>
        </tr>
        {% endfor %}
    </tbody></table>
    <h2>Active namespaces</h2>
    <ul>
        {% for namespace in active_namespaces %}
            <li>
                <a href="/namespace/{{namespace.name}}">{{ namespace.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <h2>Cancelled namespaces</h2>
    <ul>
        {% for namespace in cancelled_namespaces %}
            <li>
                <a href="/namespace/{{namespace.name}}">{{ namespace.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
