{% extends "layout" %}
{% block title %}home{% endblock %}
{% block body %}
    <ul>
        {% for namespace in namespaces %}
            <li>
                <a href="/namespace/{{namespace.name}}">{{ namespace.name }}</a> ({{namespace.status}})
            </li>
        {% endfor %}
    </ul>
{% endblock %}