{% extends "base" %}
{% block head %}
    <title>buildbtw - {% block title %}{% endblock %}</title>
{% endblock %}
{% block body %}
    <h1><a href="/namespace">buildbtw</a> - {{ self.title() }}</h1>
    {% block content %}{% endblock %}
{% endblock %}
