{% extends "base" %}
{% block head %}
    <style>
    body {
        max-width: unset !important;
    }
    </style>
{% endblock %}
{% block body %}
    <div id="graph"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.32.1/cytoscape.min.js"></script>
    <script>
        window.cytoscape_elements = {{cytoscape_elements}};
    </script>
    <script src="/assets/render_graph.js"></script>
    {# <script>
        window.setInterval(function() {
            window.location.reload();
        }, 5000);
    </script> #}
{% endblock %}
