{% extends "base.html" %}
{% block title %}Admin / Bot Token{% endblock title %}
{% block menu %}{% set menu_active = "Account" %}{{ super() }}{% endblock menu %}
{% block content %}
<nav class="breadcrumb pb-2" aria-label="breadcrumbs">
  <ul>
    <li><a href="{{ account_url }}">Account</a></li>
    <li><a href="{{ admin_bot_url }}">Bots</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ bot.username }}</a></li>
  </ul>
</nav>

<h1 class="title">Token for {{ bot.username }}</h1>

<div class="box">
  <p class="is-size-7 is-uppercase has-text-grey-light has-text-weight-semibold mb-2">
    <span class="icon is-small"><i class="fas fa-lock"></i></span>
    Secret Token
  </p>
  <code class="is-size-5">{{ secret_token }}</code>
</div>
<div class="notification is-warning">
  <p class="has-text-weight-bold">
    <i class="fas fa-exclamation-triangle"></i> This is the only time the secret token will be shown.
  </p>
  <p>Please copy it now and store it where the GitLab Custom Executor expects it.</p>
</div>

<div class="buttons">
  <a class="button is-primary" href="{{ admin_bot_url }}">
    <i class="fas fa-list"></i> Back to Bots
  </a>
</div>
{% endblock content %}
